Django>=4.2
djangorestframework>=3.14
django-cors-headers>=3.14
djangorestframework-simplejwt>=5.2
# 以上只要 basic Token 認證不需要 simplejwt，可省略 simplejwt
mysqlclient>=2.1       # 如果你要連 MySQL 時需要這個
PyMySQL>=1.0           # 如果你用 PyMySQL 取代 mysqlclient，可選擇安裝
python-dotenv>=1.0.0   # 如果你要用 .env 管理設定，否則可省略
